[submodule "stack/AutoMerge"]
	path = stack/AutoMerge
	url = https://github.com/MetaSLAM/AutoMerge
	branch = main

[submodule "stack/MrExplorer"]
	path = stack/MrExplorer
	url = https://github.com/MetaSLAM/MrExplorer
	branch = main

[submodule "stack/Multi-Agent-Simulation"]
	path = stack/Multi-Agent-Simulation
	url = https://github.com/MetaSLAM/Multi-Agent-Simulation
	branch = main